# Python cache
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/

# Virtual environment
.venv/
venv/
/opt/venv/ # Docker virtual environment path

# Sensitive files
pubkey.txt
.env

# Node.js and Frontend
frontend/node_modules/
frontend/dist/
